# Copyright (c) 2021 Nofence AS


menuconfig POWER_MANAGER
        bool "Enable Power Manager module"
	select LOG
        default y

if POWER_MANAGER
        module = PWR_MODULE
        module-str = PWR module
        source "subsys/logging/Kconfig.template.log_config"

        module = BATTERY
        module-str = Battery logging
        source "subsys/logging/Kconfig.template.log_config"

        config BATTRY_POLLER_WORK_SEC
        int "Seconds between modem poll"
        default 300
        
        config BATTRY_NORMAL_THRESHOLD
        int "Battery threshold defined in mV to enter Normal state"
        default 3500

        config BATTRY_LOW_THRESHOLD
        int "Battery threshold defined in mV to enter low state"
        default 3400

        config BATTRY_CRITICAL_THRESHOLD
        int "Battery threshold defined in mV to enter critical state"
        default 3200

endif