# Copyright (c) 2021 Nofence AS


menuconfig POWER_MANAGER
        bool "Enable Power Manager module"
	select LOG
        default y

if POWER_MANAGER
        module = PWR_MODULE
        module-str = PWR module
        source "subsys/logging/Kconfig.template.log_config"

        module = BATTERY
        module-str = Battery logging
        source "subsys/logging/Kconfig.template.log_config"

        module = CHARGING
        module-str = Charging logging
        source "subsys/logging/Kconfig.template.log_config"

        config BATTERY_POLLER_WORK_SEC
        int "Seconds between modem poll"
        default 1

        config BATTERY_THRESHOLD
        int "Battery hysteresis in mV"
        default 50

        config BATTERY_FULL_MV
        int "Represent 100 % battery to the users. NB: This is not the max voltage capacity of the battery. NOTE: Value must match server"
        default 4100

        config BATTERY_EMPTY_MV
        int "Represent 0 % battery to the users. NB: This is not the min voltage capacity of the battery. NOTE: Value must match server"
        default 3400

        config BATTERY_LOW
        int "Battery threshold defined in mV to enter low state"
        default 3450

        config BATTERY_CRITICAL
        int "Battery threshold defined in mV to enter critical state"
        default 3250

        config BATTERY_MOVING_AVERAGE_SAMPLES
        int "Number of moving average samples to be considered. Higher number gives smoother voltage change"
        default 3

        config SHUTDOWN_TIMER_SEC
        int "Seconds to wait before reboot"
        default 5
        
        config CURRENT_MOVING_AVERAGE_SAMPLES
        int "Number of moving average samples to be considered for current measurement. Higher number gives smoother voltage change"
        default 32

        config CHARGING_POLLER_WORK_SEC
        int "Seconds between modem poll"
        default 1

        config CHARGING_THRESHOLD_START
        int "Threshold to start charging, defined in mV"
        default 4000

        config CHARGING_THRESHOLD_STOP
        int "Threshold to stop charging, defined in mV"
        default 4200

        
endif