menuconfig ERROR_HANDLER
	bool "Error handler module"
	default y

if ERROR_HANDLER

	config ERROR_HANDLER_LOG_LEVEL
		int "0 - 4 for logging. OFF -> ERR -> WRN -> INF -> DBG"
		default 3
		depends on LOG

	config ERROR_USER_MESSAGE_SIZE
		int "How large can the user message string be."
		default 64
endif