# Copyright (c) 2021 Nofence AS

module = MSG
module-str = Message logger
source "subsys/logging/Kconfig.template.log_config"

config MSG_BUF_SIZE
	int "Transport interface buffer size"
	default 2048
	help
	  Size of transmit/receive buffer for transfer between interfaces.