
menuconfig GNSS_CONTROLLER
	bool "gnss controller"
	select GNSS_Drivers
	help
	  Enable gnss controller
	default y


if GNSS_CONTROLLER
    module = GNSS_CONTROLLER
        module-str = GNSS controller
        source "subsys/logging/Kconfig.template.log_config"
    config GNSS_MINIMUM_ALLOWED_GNSS_RATE
        int "Minimum allowable rate for GNSS receiver (milliseconds)"
        default 250
    config GNSS_TIMEOUTS_BEFORE_RESET
        int "Number of timeout events before we try a GNSS reset"
        default 3
    config GNSS_DEFAULT_TIMEOUT_RATE_MS
        int "Default rate to generate timeouts if GNSS receiver is missing dat (milliseconds)"
        default 5000
    config GNSS_TIMEOUT_SLACK_MS
        int "Extra milliseconds to add to the expected GNSS rate before generating a timeout event"
        default 500
    config GNSS_MAX_COUNT_INIT
        int "number of tries before gnss init retry should return -1"
        default 3
    config GNSS_CMD_RETRIES
        int "number of retries for sending a cmd to GNSS"
        default 1
    config GNSS_MAX_COUNT_SOFT_RESTART
        int "number of tries before gnss init should perform hard resetn pin toggle"
        default 3
    config GNSS_MAX_COUNT_RESETN_RESTART
        int "number of tries with resetn pin toggle before giving up"
        default 5
    config GNSS_THREAD_PRIORITY
        int "GNSS thread priority"
        default 6
    config GNSS_STACK_SIZE
        int "GNSS stack size"
        default 1280
    config GNSS_PUBLISH_STACK_SIZE
        int "GNSS publish stack size"
        default 1280
    config GNSS_ANO_THREAD_STACK_SIZE
        int "GNSS ANO thread stack size"
    	default 1536
endif