# Copyright (c) 2021 Nofence AS

module = BLE_CONTROLLER
module-str = BLE Controller
source "subsys/logging/Kconfig.template.log_config"

module = BLE_SERVICE
module-str = BLE Service
source "subsys/logging/Kconfig.template.log_config"