# Copyright (c) 2021 Nofence AS

module = BLE_CONTROLLER
module-str = BLE Controller
source "subsys/logging/Kconfig.template.log_config"

module = BLE_SERVICE
module-str = BLE Service
source "subsys/logging/Kconfig.template.log_config"

config NOFENCE_SERIAL_NUMBER
	int "Nofence serial number"
	default 673


config NOFENCE_FIRMWARE_NUMBER
	int "Nofence firmware number"
	default 1

config NOFENCE_HARDWARE_NUMBER
	int "Nofence firmware number"
	default 14

config MSG_BUF_SIZE
	int "Transport interface buffer size"
	default 2048
	help
	  Size of transmit/receive buffer for transfer between interfaces.

config BEACON_SHORTEST_DISTANCE
	bool "Use the shortest distance across all Beacons"
	default y

config BEACON_DISTANCE_MAX
	int "Max distance for a Beacon to be considerd. Must be less than 255"
	default 50

config BEACON_LOW_LIMIT
	int "Low limit distance measurement. Given in meters"
	default 10

config BEACON_HIGH_LIMIT
	int "High limit distance measurement. Given in meters"
	default 15

config BEACON_MAX_MEASUREMENTS
	int "Max measurements per Beacon"
	default 8

config BEACON_MAX_BROADCASTERS
	int "Max number of Beacons to scan for"
	default 4

config BEACON_MAX_MEASUREMENT_AGE
	int "Max age of measurements in buffer. Given in seconds"
	default 10

config BEACON_SCAN_DURATION
	int "Set the beacon scan duration in seconds"
	default 14

config BEACON_SCAN_PERIODIC_INTERVAL
	int "Set the periodic interval to start beacon scanner. In seconds"
	default 60