
menuconfig FW_UPGRADE
	bool "Firmware upgrade module"
	default y

menuconfig HTTP_DOWNLOADER
	bool "Firmware upgrade module"
	default y
	depends on FW_UPGRADE

if FW_UPGRADE
	config SCHEDULE_REBOOT_SECONDS
	int "Schedule seconds after fw upgrade"
	help 
	  How many seconds to wait before we reboot the device, must
	  be high enough to ensure modules shut down correctly
	default 5

	config DFU_MCUBOOT_FLASH_BUF_SZ
        int "Size of buffer used for flash write operations during upgrades"
        default 512
        depends on DFU_TARGET_MCUBOOT

	config FW_UPGRADE_LOG_LEVEL
		int "0 - 4 for logging. OFF -> ERR -> WRN -> INF -> DBG"
		default 3
		depends on LOG
endif

if HTTP_DOWNLOADER
	config HTTP_DOWNLOAD_SOCKET_RETRIES
	int "Number of retried is socket connection fails"
	default 3
endif