menuconfig COLLAR_PROTOCOL
	bool "Collar protocol definitions"
	help
	  Enable collar protocol definitions

if COLLAR_PROTOCOL

config NOFENCE_MESSAGE_EXPECTED_MAX_SIZE
	int "Expected maximum size of an encoded NofenceMessage byte array"
	default 723

endif