menuconfig CELLULAR_CONTROLLER
	bool "Cellular controller module"
	default y

if CELLULAR_CONTROLLER
    config SERVER_PORT
	int "remote server port"
	help
        Listening port on the remote server.
	default 0
endif
if CELLULAR_CONTROLLER
    config SERVER_IP
	string "remote server ip"
	help
        IP address for remote server.
	default "0.0.0.0"
endif
