menuconfig WATCHDOG_ENABLE
	bool "Enable watchdog"
	select WATCHDOG
	default y

if WATCHDOG_ENABLE

config WATCHDOG_TIMEOUT_SEC
	int "Application watchdog timeout in seconds"
	default 60

endif # WATCHDOG_ENABLE

module = WATCHDOG
module-str = Watchdog
source "subsys/logging/Kconfig.template.log_config"
