menuconfig DIAGNOSTICS
	bool "Diagnostics module"
	default y
	select USE_SEGGER_RTT

if DIAGNOSTICS
	config DIAGNOSTICS_RTT_DOWN_CHANNEL_INDEX
		int "RTT Channel index to use for data down to device"
		default 2
	
	config DIAGNOSTICS_RTT_UP_CHANNEL_INDEX
		int "RTT Channel index to use for data up to host computer"
		default 2

	config DIAGNOSTICS_LOG_LEVEL
		int "0 - 4 for logging. OFF -> ERR -> WRN -> INF -> DBG"
		default 3
		depends on LOG

	config DIAGNOSTICS_RTT_TIMEOUT_MS
		int "Activity timeout for RTT communication."
		default 30000

	config DIAGNOSTICS_RTT_BUFFER_SIZE
		int "Memory to allocate for each down and up buffers (memory usage will therefore be 2x)."
		default 2048

	config DIAGNOSTICS_STACK_SIZE
		int "Memory to allocate stack of handler."
		default 1024
	
	config DIAGNOSTICS_PROFILE_EVENTS
		bool "Use the diagnostics module to profile event manager event submits and execution start/stop."
		default y
	
	config DIAGNOSTICS_PARSE_BUFFER_LENGTH
		int "Maximum number of bytes in parse buffer. This sets a limits to how long each command and accompanying data can be."
		default 128
	
endif